.container{
    margin-bottom: 100px;
}

.logo{
    height: 80px;
    width: 80px;
}
.orange-bg{
    background-color: #fceae8;
    border: 10px;
    border-radius: 10px;
}

.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.button-buy-now{
    background-image: linear-gradient(to bottom, #ff589B 0%, #ff136f 100%);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 9px 25px;
}
.cat1{
    background-color: orange;
   
}
.cat2{
    background-color: orchid;
    
}
.cat3{
    background-color: blue;

}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius:10px;
}
.photo{
color: white;


}
.categories-img{
    width: 100px ;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
   
}
.card-footer{
    background-color: white;
    border-top: none;
    box-shadow: 5px 5px 10px lightgrey;
   
}
#subcribe{
    height: 300px;
}
#subcribe h6{
    color: gray;

}
footer{
    text-align: center;
}
